In [0]:
import pandas as pd

In [0]:
#Loading data from Github repository

filename = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter16/Dataset/processed.cleveland.data'

In [8]:
# Loading the data using pandas

heartData = pd.read_csv(filename,sep=",",header = None,na_values = "?")
heartData.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [11]:
heartData.columns = ['age','sex', 'cp', 'trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','label']
heartData.head()

    age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  label
0  63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0      0
1  67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      2
2  67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
3  37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
4  41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0

[5 rows x 14 columns]

In [12]:
# Changing the Classes to 1 & 0
heartData.loc[heartData['label'] > 0 , 'label'] = 1

heartData.head()

    age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  label
0  63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0      0
1  67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      1
2  67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
3  37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
4  41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0

[5 rows x 14 columns]

In [13]:
# Dropping all the rows with na values
newheart = heartData.dropna(axis = 0)
newheart.shape

(297, 14)

In [14]:
# Seperating X and y variables

y = newheart.pop('label')
y.shape

(297,)

In [15]:
X = newheart
X.head()

    age  sex   cp  trestbps   chol  ...  exang  oldpeak  slope   ca  thal
0  63.0  1.0  1.0     145.0  233.0  ...    0.0      2.3    3.0  0.0   6.0
1  67.0  1.0  4.0     160.0  286.0  ...    1.0      1.5    2.0  3.0   3.0
2  67.0  1.0  4.0     120.0  229.0  ...    1.0      2.6    2.0  2.0   7.0
3  37.0  1.0  3.0     130.0  250.0  ...    0.0      3.5    3.0  0.0   3.0
4  41.0  0.0  2.0     130.0  204.0  ...    0.0      1.4    1.0  0.0   3.0

[5 rows x 13 columns]

In [0]:
from sklearn.model_selection import train_test_split

# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

**Creating processing Engine**

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [0]:
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])

In [0]:
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns

In [0]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features)])

**Spot checking different models**

In [0]:
# Importing necessary libraries
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

In [0]:
# Creating a list of the classifiers
classifiers = [
    KNeighborsClassifier(),     
    RandomForestClassifier(random_state=123),
    AdaBoostClassifier(random_state=123),
    LogisticRegression(random_state=123)
    ]

In [79]:
# Looping through classifiers to get the best model
for classifier in classifiers:
    estimator = Pipeline(steps=[('preprocessor', preprocessor),
                      ('dimred', PCA(10)),
                           ('classifier',classifier)])
    estimator.fit(X_train, y_train)   
    print(classifier)
    print("model score: %.2f" % estimator.score(X_test, y_test))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
model score: 0.78
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=123,
                       verbose=0, warm_start=False)
model score: 0.80
AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=123)
model score: 0.72
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)
model score: 0.80

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

**Grid Search**

In [0]:
# Creating a pipeline with Logistic Regression
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                      ('dimred', PCA()),
                           ('classifier',LogisticRegression(random_state=123))])

In [0]:

param_grid =  {'dimred__n_components':[10,11,12,13],'classifier__penalty' : ['l1', 'l2'],'classifier__C' : [1,3, 5],'classifier__solver' : ['liblinear']}

In [0]:
from sklearn.model_selection import GridSearchCV
# Fitting the grid search
estimator = GridSearchCV(pipe, cv=10, param_grid=param_grid)

In [83]:
# Fitting the estimator on the training set
estimator.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('preprocessor',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('num',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('scaler',
                                                                                          StandardScaler(copy=True,
                                                                                                         with_mean=True,
                                                                                                         with_std=True))],
                                                                                  verbose=False),
                                                                         Index(['age', 'sex', 'c...
                                                           n_jobs=None,
                                                           penalty='l2',
                                                           random_state=123,
                                                           solver='warn',
                                                           tol=0.0001,
                                                           verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'classifier__C': [1, 3, 5],
                         'classifier__penalty': ['l1', 'l2'],
                         'classifier__solver': ['liblinear'],
                         'dimred__n_components': [10, 11, 12, 13]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [84]:
# Printing the best score and best parameters
print("Best: %f using %s" % (estimator.best_score_, 
    estimator.best_params_))

Best: 0.845411 using {'classifier__C': 1, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear', 'dimred__n_components': 12}

In [0]:
# Predicting with the best estimator
pred = estimator.predict(X_test)

In [86]:
# Printing the classification report
from sklearn.metrics import classification_report

print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       0.86      0.82      0.84        51
           1       0.78      0.82      0.80        39

    accuracy                           0.82        90
   macro avg       0.82      0.82      0.82        90
weighted avg       0.82      0.82      0.82        90